@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


.mentors-section{
    margin: 4rem 5rem 6rem 5rem;
}

.mentors{
    border: 1px solid transparent;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin: 1.5rem;
}

.profile-image{
    width: 190px;
    height: 190px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


.mentor-name{
    padding-top: 2rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.mentor-degree{
    padding-left: 1rem;
    font-size: 1rem;
}

.read-more{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #1663be;
    text-align: right;
    padding-right: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .mentors-section{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}


@media screen and (max-width: 600px) {
    .mentors-section{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}